@font-face {
    font-family: 'Norse';
    src: url('fonts/transfonter.org-20250528-103659/Norse-Bold.woff2') format('woff2'),
        url('fonts/transfonter.org-20250528-103659/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* Left box */
body {
    display: flex;
}

.left-box {
    flex: 1;
    position: relative;
    background: url(templates/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;
}   

.right-box {
    flex: 2.3;
}

.logo-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10em;
    height: 7em;
    background: rgb(0, 0, 0, 0.4)
}

.img-author {
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-text {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Norse';
    font-size: 2.5em;
}

.logo-image {
    padding: 13px;
}

/* Right box */
.right-box {
    display: flex;
    flex-direction: column;
} 

header, footer{
    flex: 2;
    background-color: whitesmoke;
}

form {
    flex: 1.8;
}

p {
    margin-top: 7.5em;
    margin-left: 3em;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p + p {
    margin-top: 1em;
}