@font-face {
    font-family: 'Norse';
    src: url('fonts/transfonter.org-20250528-103659/Norse-Bold.woff2') format('woff2'),
        url('fonts/transfonter.org-20250528-103659/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* Left box */
body {
    display: flex;
}

.left-box {
    flex: 1;
    position: relative;
    background: url(templates/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;
}   

.right-box {
    flex: 2.3;
}

.logo-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10em;
    height: 7em;
    background: rgb(0, 0, 0, 0.4)
}

.img-author {
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.6;
}

.logo-text {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Norse';
    font-size: 2.5em;
}

.logo-image {
    padding: 13px;
}

/* Right box */
.right-box {
    display: flex;
    flex-direction: column;
} 

header, footer{
    flex: 2;
    background-color: whitesmoke;
}

form {
    flex: 1.9;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-top: 7.5em;
    margin-left: 40px;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 55px;
}

p + p {
    margin-top: 1em;
    margin-bottom: 55px;
}

form > label {
    padding-top: 15px;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.input-row {
    display: flex;
    gap: 5em;

}

.input-row > div {
    display: flex;
    flex-direction: column;
}

.input-row > div + div {
    margin-bottom: 8px;
}

div > label {
    font-size: 10px;
    letter-spacing: 1.5px
}

input {
    border-radius: 5px;
    border-width: 1px;
}

input:focus {
    border: 1.5px blue solid;
    outline: none;
    box-shadow: 2px 2px gray;
}

input:invalid {
    border: 1.5px red solid;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
}

button, .footer-text {
    margin-left: 40px;
    margin-top: 25px;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 7px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

footer span {
    color: #596D48;
    font-weight: bold;
}
